.card {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-shadow: 0 4px 15px rgba(44, 44, 44, 0.05);
  border-radius: 12px;
  padding: 25px 20px;
  margin-bottom: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  gap: 10px;
}

.title {
  font-weight: 800;
  font-size: 28px;
  overflow-wrap: anywhere;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #F2F3FF;
  border: 1px solid #EBEBEB;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  flex-shrink: 0;
}

.iconContainer:hover {
  transform: scale(0.95);
}

.icon {
  width: 25px;
  height: 25px;
  user-select: none;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #575767;
  font-weight: 500;
  font-size: 14px;
  line-height: 122%;
  overflow-wrap: anywhere;
  margin-bottom: 5px;
  transition: height 0.2s ease-in-out;
}

@media screen and (max-width: 767px) {
  .description {
    font-size: 20px;
  }
}

.fullDescription {
  -webkit-line-clamp: unset;
}

.line {
  height: 1px;
  background-color: #EBEBEB;
  border: none;
  margin: 12px 0;
}

.tagsContainer {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
}

.tag {
  font-weight: 400;
  color: #575767;
  font-size: 12px;
  padding: 3px 5px;
  background-color: aqua;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.tag:hover {
  color: #000;
  opacity: 0.8;
  transform: scale(0.98);
}
.toDoContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
